name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        run: |
          sudo apt update -y
          sudo apt install -y libsqlite3-dev

      - name: Lint Ruby code
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3
          bundler-cache: true
      - run: |
          bundle exec rake rubocop

      - name: Lint C
        uses: jidicula/clang-format-action@v4.15.0
        with:
          clang-format-version: "16"
          check-path: "ext/panko_serializer"
          fallback-style: "Google"
