name: Panko Serializer CI

on: [push, pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.2", "3.3", "3.4"]
        rails: ["7.2.0", "8.0.0"]

    steps:
      - name: Install deps
        run: |
          sudo apt update -y
          sudo apt install -y libsqlite3-dev

      - uses: actions/checkout@v4
      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}


      - name: Gems Cache
        id: gem-cache
        uses: actions/cache@v4
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-${{ matrix.ruby }}-${{ matrix.rails }}-gem
          restore-keys: |
            ${{ runner.os }}-${{ matrix.ruby }}-${{ matrix.rails }}-gem

      - name: Install gems
        env:
          BUNDLE_GEMFILE: gemfiles/${{ matrix.rails }}.gemfile
        run: |
          gem install bundler
          bundle config set path 'vendor/bundle'
          bundle check || bundle install --jobs 4 --retry 3

      - name: Compile & test
        env:
          BUNDLE_GEMFILE: gemfiles/${{ matrix.rails }}.gemfile
        run: |
          bundle exec rake
